* {
	margin: 15;
	padding: 15;
}

body {
	font-family: helvetica;
	text-align: justify;
	background: #FFFFF0;
}

h1 {
	text-align: center;
	font-size: 55px;
	color: #752700;
}

p {
	color: black;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

iframe {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu{
	font: 13px;
	background: #8B4513;
	text-align: center;
	width: 250px;
	margin:50px;
	padding: 2px ;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	background: #DEB887;
}

#menu ul li + li {
	margin: 2px 0 0 0;
}


#menu ul li:hover {
	background: #A0522D;
}

#menu ul li a {
	text-decoration: none;
	padding: 3px 20px 3px 5px;
	display: block;
	color: black;
	cursor: pointer;
	border-bottom: solid 2px #F5F5DC;
}

#menu ul.submn1 {
	background: #BC8F8F;
	padding: 5px 30px;
	display: none;
}